* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #95042d;
}

#search {
    padding: 8px 15px 8px 15px !important;
    background: transparent;
    border: 2px solid #95042d;
    font-size: 24px;
    transition: 0.5s;
}

#search:hover:enabled {
    background: #95042d;
    color: #f4e6ea;
}

#search:disabled {
    border: 2px solid grey;
    color: grey;
}

body {
    background: #f4e6ea;
}

.center {
    height: 90vh;
    position: relative;
}

.inside {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-nice {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 18px;
}

li {
    list-style: none;
}

#studentId {
    font-size: 32px;
    border: 4px solid #95042d;
    background: transparent;
    width: 250px;

}

h2 {
    padding-bottom: 10px !important;
}

#result {
    font-size: 24px;
}

*:focus {
    outline: none;
}

textarea:focus, input:focus {
    outline: none;
}

a {
    color: gray;
    font-size: 14px;
    text-decoration: none;
    padding: 5px !important;
    font-weight: 400;

}

nav {
    line-height: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #95042d;
    opacity: .4; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #95042d;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #95042d;
}